/* TAG SELECTORS */
body {

  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* ID SELECTORS */
#title {
  background-color: #FF4C68;
}

/* CLASS SELECTORS */
.container-fluid {
  padding: 3% 15%;
}
.title_h1 {
  font-family: 'Montserrat-Black', sans-serif;
  line-height: 1.5;
  font-size: 3rem;
}
